<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


    <connectionStrings>
      <add name="DefaultConnection"
        connectionString="Server=a1d6ec7c-3adf-4180-9d77-a4b3011c2e0c.sqlserver.sequelizer.com;Database=dba1d6ec7c3adf41809d77a4b3011c2e0c;User ID=kfgrwduhypoggvir;Password=DDNxY3hCxgCY5zEXwd5rYgKiyYwkv2HeH3gVANNAB3ao55x8LvjiAMUx2E88E5gD;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

	
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
