@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trubo rango na véia</h1>
    <p class="lead">Bernardo um dia vai amar o java.</p>
    <p><a href="/Restaurantes" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            NOVO TESTE

        </p>
    </div>
</div>